<footer class="page-footer elegant-color center-on-small-only" style="position:relative;z-index:1000;">
	<div class="row" style="margin-bottom:0px;">
		<div class="col m6 l6 s12">
			<h5 class="white-text">We love to socialize ..</h5>
            <div class="social">
		     <ul>
		       <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
		       <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
		       <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
		     </ul>
		   	</div>
   			<p class="grey-text text-lighten-4"></p>
		</div>
		<div class="col m4 l4 s12">
			<h5 class="white-text">Site Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
				<li><a class="grey-text text-lighten-3" href="/contactus">Contact Us</a></li>
				<li><a class="grey-text text-lighten-3" href="/tnc">Terms & Conditions</a></li>
				<li><a class="grey-text text-lighten-3" href="/privacy-policy">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="col s12 m12 l12 footer-copyright">
			<div class="container">
				© 2014 Copyright Text
        		<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>		
	</div>
</footer>