<p>
  Hi,
</p><br>
<p>New Merchant signup details</p>
<p>Company Name: <%=@merchant.name%></p>
<p>Email: <%=@merchant.poc_email%></p>
<p>Phone Number: <%=@merchant.poc_phone%></p>
<p>Reason: <%=@merchant.address%></p>
<br><br>
<p>Regards,</p>
<p>Admin</p>