<div class="col hide-on-small m3 l3">&nbsp;</div>
<div class="col s12 m6 l6">
	<div class="card">
		<div class="card-content">			
		<span class="card-title">Errrr.... Page not found</span>
			<p>
				The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.
			</p>
		</div>
		<div class="card-action">
          <p>Possible places you want to check</p>
          <table>
	          <tr>
	          	<td><a href="/">homepage</a></td>
	          	<td><a href="/contactus">Contact us</a></td>
	          	<td><a href="/faqs">FAQs</a></td>
	          	<td><a href="/myaccount">My Account</a></td>
	          </tr>
          </table>
        </div>
	</div>
</div>
<div class="col hide-on-small m3 l3">&nbsp;</div>