<div class="col hide-on-small m2 l2">
	&nbsp;
</div>
<div class="col s12 m8 l8">
	<%= link_to "Open Orders","/#",:class=>"btn waves-effect waves-light btn-large"%>
	<%= link_to "Completed Orders","/#",:class=>"btn waves-effect waves-light btn-large"%>
	<%= link_to "Merchant Actions","/merchants",:class=>"btn waves-effect waves-light btn-large"%>
	<%= link_to "Contacts","/contacts",:class=>"btn waves-effect waves-light btn-large"%>
</div>
<div class="col hide-on-small m2 l2">
	&nbsp;
</div>