<div class="col-xs-12 col-md-12 col-sm-12">
<h4 class="lato orange"><b>About us</b></h4>
<p class="lato justify">Welcome to Traix. Traix aims to help freelance trainers to find plethora of opportunities available for training and at the same time help Training organisers to find the best trainers for their next project. Traix is a simple interface where trainers can sign up to showcase their talent and training organise can select the trainers based on their skillets which is verified personally by Traix team. </p><br>
<h4 class="lato orange"><b>Company Info</b></h4>
<p class="lato justify">The idea of traix came up while discussing about the blind orientation towards experience in a recruitment process where talent miss out a lot because of lack of experience. The co-founder Yogesh Muthreja.</p><br>
<p class="lato justify">Yogesh Muthreja is the CEO, and the company’s management team is made up of seasoned executives from companies like Yahoo!, Google, Microsoft, TiVo, PayPal, and Electronic Arts.</p><br>
</div>